<p>Feed works!</p>
<div>
    <!-- <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile colspan="1" rowspan="1"> 
           <h3>This is where navigation for feed is</h3>
        </mat-grid-tile> 
        <mat-grid-tile colspan="3" rowspan="1">
            <form class="rss-form">
                <mat-form-field class="rss-full-width">
                    <mat-label>RSS link</mat-label>
                    <input placeholder="Ex. http://rss.cnn.com/rss/cnn_world.rss">
                </mat-form-field>
            </form>
            <p>This is content </p>
        </mat-grid-tile>
    </mat-grid-list> -->
    <div>
        <form class="rss-form"> 
            <input placeholder="Ex. http://rss.cnn.com/rss/cnn_world.rss" type="text" name="url">
        </form>
        <button mat-raised-button color="primary">Add to Feed</button>
    </div>
    <div>
        
    </div>
    
</div>
