<div>
    <header>
        <div class="container">
          <a routerLink="/" class="logo"><img src="https://img.icons8.com/ios/50/000000/rss.png"/></a>
          <nav>
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/feeds" *ngIf="auth.loggedIn">Feed</a></li>
              <li><a routerLink="/profile" *ngIf="auth.loggedIn">Profile</a></li>
              <li><a routerLink="/login">Login</a></li>
            </ul>
          </nav>
        </div>
    </header>
    
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile> 
            <h2> RSS FEED </h2>
            <p> Create your own news feed and keep up with the news in one touch.</p></mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/drawkit-content-man-colour-800px.png" alt="Drawing content man" id="home-image">
        </mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
</div>
