<div>
    <header>
        <div class="container">
          <a routerLink="/" class="logo"><img src="https://img.icons8.com/ios/50/000000/rss.png"/></a>
          <nav>
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/feeds" *ngIf="auth.loggedIn">Feed</a></li>
              <li><a class="authElem" (click)="auth.login()" *ngIf="!auth.loggedIn" style="cursor:pointer;" >Login</a></li>
              <li><a class="authElem" (click)="auth.logout()" *ngIf="auth.loggedIn" style="cursor:pointer;">Logout</a></li>
              <!-- <button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
        <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button> -->
            </ul>
          </nav>
        </div>
    </header>
  

    <section>
      <div class='intro-container'>
        <div  class="top-bottom-border">
          <h1 id="titleElem"> RSS FEED </h1>
          <p>Create your own feed and keep up with the news in one touch.</p>
        </div> 
      </div>
      <div class='intro-container'>
        <img src="../../assets/signin-image.jpg" alt="" >
      </div>
    </section>
</div>


