
<div>
    <!-- Sign In Form -->
    <section class="signin">
        <div class="container">
            <div class="signin-content">
                <div class="signin-form">
                    <h2 class="form-title">Sign In</h2>
                    <form action="" class="register-form" id="login-form">
                        <mat-form-field appearance="fill" class="form-group">
                            <mat-label for="your_user">Enter your username</mat-label>
                            <input matInput #input name="your_user" id="your_user">
                        </mat-form-field>
                        <mat-form-field apperance="fill" class="form-group">
                            <mat-label for="your_pass">Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" name="your_pass" id="your_pass">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            </mat-form-field>
                    </form>
                </div>

                <div class="signin-image">
                    <figure><img src="../../assets/signin-image.jpg" alt="sign in image"></figure>
                </div>
            </div>
        </div>
    </section>

    <!-- Sign Up Form  -->
    <section class="signup">
        <div class="container">

            <div class="signin-image">
                <figure><img src="../../assets/signup-image.jpg" alt="sign up image"></figure>
            </div>

            <div class="signup-content">
                <div class="singup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign Up</h2>
                        <form action="" class="register-form" id="register-form">
                            <mat-form-field class="form-group">
                                <mat-label for="name">Enter your name</mat-label>
                                <input matInput #input name="name" id="name">
                            </mat-form-field>
                            <mat-form-field class="form-group">
                                <mat-label for="username">Enter your username</mat-label>
                                <input matInput #input name="name" id="name">
                                <mat-error *ngIf="invalidUser">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your email</mat-label>
                                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                            <mat-form-field class="form-group">
                                <mat-label for="password">Enter your password</mat-label>
                                <input matInput #input name="password" id="password">
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>