.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.toolbar{
    position: fixd;
    z-index: 2;
}

.sidenav-container{
    flex: 1;
}

.is-mobile .sidenav-container{
    flex: 1 0 auto;
}

.bottomStick{
    position: absolute;
    bottom: 0;
}

.bottomRelative{
    position: relative;
}

.full-width{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.tab-container{
    margin: 10px;
}

.rss-form{
    display: block;
}

.navbar-list{
    text-align: center;
}

.sort-option {
    display: inline-block;
}

.feed-containers{
    margin: 10px;
}

.fixed-nav{
    position: fixed;
}
