<div class="container" [class.is-mobile]>
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar> 
    
    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0" class="sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]='mobileQuery.matches' fixedTopGap="56"> 
            <mat-nav-list class="navbar-list">
                <a mat-list-item><img mat-card-avatar src="{{ userprofile.picture }}" alt="user profile"></a>
                <a mat-list-item> Hello {{ userprofile.given_name }} </a>
                <a mat-list-item><button mat-button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button></a>
                <a mat-list-item><button mat-button>Ghiblified</button></a>
            </mat-nav-list>
        </mat-sidenav>


        <mat-sidenav-content>
            <div class="tab-container">
                <mat-tab-group mat-align-tabs="start">
                  <mat-tab label="Edit">
                    <div>
                        <mat-form-field class="full-width" class="rss-form">
                            <mat-label>RSS feed</mat-label>
                            <input matInput placeholder="http://feeds.bbci.co.uk/news/technology/rss.xml" [(ngModel)]='url'>
                        </mat-form-field>
                        <button (click)="addFeedUrl()" mat-raised-button color="primary" class="rss-form">Add to Feed</button>
                    </div>
                    <div>
                        <mat-selection-list #urls [(ngModel)]="selectedUrls">
                            <mat-list-option *ngFor="let key of rssService.urlList" [value]="key.id">
                                {{ key.feed_url }}
                            </mat-list-option>
                            <button (click)="deleteFeedUrl()" mat-raised-button color="primary"> Delete from Feed </button>
                        </mat-selection-list>
                        <p>
                            Options selected: {{ selectedUrls }}
                        </p>
                    </div>
                  </mat-tab>
                  <mat-tab label="Feed">
                    <div class="feed-containers">
                        Title:
                        <mat-button-toggle-group name="titleSort" [value]="titleSort" (change)="sortTitle($event.value)">
                            <mat-button-toggle [value]="false">A-Z</mat-button-toggle>
                            <mat-button-toggle [value]="true">Z-A</mat-button-toggle>
                        </mat-button-toggle-group>
                        Published date: 
                        <mat-button-toggle-group name="dateSort" [value]="dateSort" (change)="sortDate($event.value)">
                            <mat-button-toggle [value]="false">Newest</mat-button-toggle>
                            <mat-button-toggle [value]="true">Oldest</mat-button-toggle>
                        </mat-button-toggle-group>
                        Description:
                        <mat-button-toggle-group name="descriptionSort" [value]="descriptionSort" (change)="sortDescription($event.value)">
                            <mat-button-toggle [value]="false">A-Z</mat-button-toggle>
                            <mat-button-toggle [value]="true">Z-A</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="feed-containers">
                        <mat-card *ngFor="let feed of rssService.itemsNoCategory ">
                            <mat-card-header>
                                <mat-card-title> {{feed.title}} </mat-card-title>
                                <mat-card-subtitle> {{feed.published}} </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>
                                    {{feed.description }}
                                </p>
                                <img src="height: 100%; width: 100%" src="{{ feed.image }}">
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-stroked-button> <a href="{{feed.link}}"> Go to article </a> </button>
                            </mat-card-actions>
                    
                        </mat-card>
                    </div>
                    <!-- <div *ngFor="let feeds of rssService.items | keyvalue">
                        <mat-card *ngFor="let feed of feeds.value" style="margin-top:10px;">
                        <mat-card-header>
                            <mat-card-title> {{feed.title}} </mat-card-title>
                            <mat-card-subtitle> {{feed.published}} </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{feed.description }}
                            </p>
                            <img src="height: 100%; width: 100%" src="{{ feed.image }}">
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button> <a href="{{feed.link}}"> Go to article </a> </button>
                        </mat-card-actions>
                
                    </mat-card>
                    <mat-paginator [pageSize]="10" [pageSizeOption]="[5, 10, 25, 100]" ></mat-paginator>
                    </div> -->
                  </mat-tab>
                </mat-tab-group>
              </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<div>Icons Totoro by Nithin Davis Nanthikkara from the Noun Project</div>

