<div class="container" [class.is-mobile]>
    <mat-toolbar class="toolbar" style="border-style: solid; border-width: 0px 0px 1px 0px; border-color: black;">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h3 class="rss-elem" style="margin:0 auto; font-weight:bold;"> RSS Feed </h3>
    </mat-toolbar> 
    
    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0" class="sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]='mobileQuery.matches' fixedTopGap="56"> 
            <mat-nav-list class="navbar-list">
                <a mat-list-item><img mat-card-avatar src="{{ userprofile.picture }}" alt="user profile"></a>
                <a mat-list-item> Hello {{ userprofile.given_name }} </a>
                
            </mat-nav-list>

            <mat-nav-list [ngClass]="appropriateClass">
                <a mat-list-item (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</a>
            </mat-nav-list>
        </mat-sidenav>


        <mat-sidenav-content>
            <div class="tab-container">
                <mat-tab-group mat-align-tabs="start">
                  <mat-tab label="Edit">
                    <div>
                        <mat-form-field class="full-width" class="rss-form">
                            <mat-label class="rss-elem">RSS feed</mat-label>
                            <input matInput placeholder="http://feeds.bbci.co.uk/news/technology/rss.xml" [(ngModel)]='url'>
                        </mat-form-field>
                        <button (click)="addFeedUrl()" mat-stroked-button color="primary" class="rss-form rss-elem" style="margin:0 auto; font-weight:bold;">Add to Feed</button>
                    </div>
                    <div>
                        <mat-selection-list #urls [(ngModel)]="selectedUrls">
                            <mat-list-option *ngFor="let key of rssService.urlList" [value]="key.id" class="rss-elem" style="word-wrap: break-word;">
                                {{ key.feed_url }}
                            </mat-list-option>
                        </mat-selection-list>
                        <button (click)="deleteFeedUrl()" mat-stroked-button color="warn" class="rss-elem" style="margin:0 auto; display:block; font-weight:bold;"> Delete from Feed </button>
                    </div>
                  </mat-tab>
                  <mat-tab label="Feed">
                    <div class="feed-containers rss-elem-child">
                        Title:
                        <mat-button-toggle-group name="titleSort" (change)="sortTitle($event.value)">
                            <mat-button-toggle [value]="false">A-Z</mat-button-toggle>
                            <mat-button-toggle [value]="true">Z-A</mat-button-toggle>
                        </mat-button-toggle-group>
                        Published date: 
                        <mat-button-toggle-group name="dateSort"  (change)="sortDate($event.value)">
                            <mat-button-toggle [value]="false">Newest</mat-button-toggle>
                            <mat-button-toggle [value]="true">Oldest</mat-button-toggle>
                        </mat-button-toggle-group>
                        Description:
                        <mat-button-toggle-group name="descriptionSort" (change)="sortDescription($event.value)">
                            <mat-button-toggle [value]="false">A-Z</mat-button-toggle>
                            <mat-button-toggle [value]="true">Z-A</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div *ngIf="rssService.itemsNoCategory.length == 0" class="rss-elem">
                        <div>
                            <h3 >Nothing here</h3>
                            <p>
                                Add a feed to view article
                            </p>
                        </div>
                    </div>
                    <div class="feed-containers" *ngIf="rssService.itemsNoCategory.length > 0">
                        <mat-card *ngFor="let feed of rssService.itemsNoCategory ">
                            <mat-card-header class="feed-elements">
                                <mat-card-title class="rss-elem bold"> <a href="{{feed.link}}" class="rss-elem link-button">{{feed.title}} </a></mat-card-title>
                                <mat-card-subtitle class="rss-elem"> {{feed.published | date: 'MM/dd/yyyy hh:mm'}} </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content class="feed-elements">
                                <p class="rss-elem-child">
                                    {{feed.description}}
                                </p>
                                <img src="height: 100%; width: 100%" src="{{ feed.image }}">
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <!-- <div *ngFor="let feeds of rssService.items | keyvalue">
                        <mat-card *ngFor="let feed of feeds.value" style="margin-top:10px;">
                        <mat-card-header>
                            <mat-card-title> {{feed.title}} </mat-card-title>
                            <mat-card-subtitle> {{feed.published}} </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{feed.description }}
                            </p>
                            <img src="height: 100%; width: 100%" src="{{ feed.image }}">
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button> <a href="{{feed.link}}"> Go to article </a> </button>
                        </mat-card-actions>
                
                    </mat-card>
                    <mat-paginator [pageSize]="10" [pageSizeOption]="[5, 10, 25, 100]" ></mat-paginator>
                    </div> -->
                  </mat-tab>
                
                </mat-tab-group>
              </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<div>Icons Totoro by Nithin Davis Nanthikkara from the Noun Project</div>

